<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - e_comerce_website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/e_comerce_website.styles.css" asp-append-version="true" />

   @*  import style *@
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/elegant-icons.css" asp-append-version="true" />


</head>
<body>
    <div>

        <!-- Header Section Begin -->
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                    <li>Free Shipping for all Order of $99</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__right">
                                <div class="header__top__right__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <div class="header__top__right__language">
                                    <img src="~/img/language.png" alt="">
                                    <div>English</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="#">Spanis</a></li>
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </div>
                                <div class="header__top__right__auth">
                                    <a href="#"><i class="fa fa-user"></i> Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="/Index"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <ul>
                                <li class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Index" ? "active" : "")">
                                    <a asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Shop" ? "active" : "")">
                                    <a asp-area="" asp-page="/Shop">Shop</a>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul class="header__menu__dropdown">
                                        <li class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Shop_detail" ? "active" : "")">
                                            <a asp-area="" asp-page="/Shop_detail">Shop Details</a>
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Shoping_cart" ? "active" : "")">
                                            <a asp-area="" asp-page="/Shoping_cart">Shopping Cart</a>
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Check_out" ? "active" : "")">
                                            <a asp-area="" asp-page="/Check_out">Check Out</a>
                                        </li>
                                        <li class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Blog_detail" ? "active" : "")">
                                            <a asp-area="" asp-page="/Blog_detail">Blog Detail</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Blog" ? "active" : "")">
                                    <a asp-area="" asp-page="/Blog">Blog</a>
                                </li>
                                <li class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Contact" ? "active" : "")">
                                    <a asp-area="" asp-page="/Contact">Contact</a>
                                </li>
                            </ul>
                        </nav>


                    </div>
                    <div class="col-lg-3">
                        <div class="header__cart">
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                            </ul>
                            <div class="header__cart__price">item: <span>$150.00</span></div>
                        </div>
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
        <!-- Header Section End -->
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - e_comerce_website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>